@tailwind base;
@tailwind components;
@tailwind utilities;

@use 'vuetify' with (
  $utilities: true,
  $color-pack: true,
);

@layer base {
  h1 {
    @apply text-4xl !important;
  }

  h2 {
    @apply text-2xl !important;
  }

  h3 {
    @apply text-xl !important;
  }

  h4 {
    @apply text-lg !important;
  }
}

* {
  .v-pagination {
    margin-top: 0px !important;
  }
}

* {
  .v-overlay__scrim {
    opacity: 0.5 !important;
  }
}

* {
  .shadowBox {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

* {
  .shadowText {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.scroll-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.scroll-container {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll;
}