<!DOCTYPE html>
<html>

<head>
  <title>Hamayoun</title>
  <%= favicon_link_tag 'hama_round_favicon.png' %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_typescript_tag 'website' %>
</head>

<body id="app">
</body>

</html>